<div id="sidebar-b">
    <h3>Information</h3>
    <p>This site was created by Parker Kelly as part of their graduate LIS program through drexel university. She has been playing BitD with the Nameless for just over a year, and was looking for a solution to the overwehelming amount of information for new players joining the group, as well as for returning players after long breaks.</p>
    <p>If you have suggestions for the site, please see the <a href="contact.html">contact</a> page to reach her.</p>
    <h3>Gallery</h3>
</div>