@import 'colors'
$layout-break-small: 800px

// set global defaults
body
    padding: 0
    margin: 0
    text-align: justify

// layout divs
#container
    min-width: 600px
    max-width: 75%
    margin: 0 auto
    background: $dark-slate
    border: 3px solid $mid-green
    border-width: 0 3px


#banner 
    height: 120px
    padding: 0px
    margin: 0 
    background: $dark-slate url(/assets/img/layout/banner.jpg)
    background-position: center 85%
    background-size: 200px
    color: #333
    text-align: center
    h1 
        margin: 0
        border: 0
        font: small-caps 70px Barlow
        color: $ash-grey
        text-align: center
        
    h2 
        margin: 0
        font-style: italic
        color: $light-green
        text-transform: lowercase
        font-size: 20px

#content
    margin: 0 auto 0
    padding: 0em 3em 2em
    img
        float: left
        margin: 1em
        padding: 8px
        background: $charcoal
        border: 1px solid $mid-green
    h1:first-child
        font-size: 2.6em
        

#footer
    margin: 1em auto 1em
    color: $ash-grey
    background: $mid-green
    padding: 0.5em 1em
    a
        color: $ash-grey
        text-decoration: underline   
    a:hover
        color: #fff

@media screen and (max-width: $layout-break-small)
    #container
        min-width: 90%