body {
margin: 0;
padding: 0;
text-align: left;
font: 1em arial, tahoma, "Trebuchet MS", verdana, arial, verdana, sans-serif;
background-color: #4D4D4D;
}

#container {
width: 80%;
min-width: 600px;
border: 0px solid #eee;
margin: 0px auto;
padding: 0;
line-height: 1.5em;
position: center;
}

#banner {
height: 100px;
padding: 0px;
margin:auto auto;
background: #4D4D4D url(https://www.cs.drexel.edu/~pmk65/BladesinthePhiladelphia/banner.jpg);
background-position: top left;
background-size: 200px;
color: #333;
}

#banner h1 {
	margin: auto auto;
	padding: 20px 5px;
	font-size: 30px;
}

		/* MAIN CONTENT */
#content {
padding: 0 20px 0 20px;
margin-left: 170px;
margin-right: auto;
color: #FFFFFA;
background-color: #4D4D4D;
}

		/* ARTICLES */
.intro {
float:left;
width: 25%;
margin: 3px 0 5px 0;
padding: 5px;
text-align:left;
}
.intro2 {
float: left;
width: 25%;
margin: 3px 0 5px 20px;
padding: 5px;
}
.intro3 {
float:right;
width: 25%;
margin: 3px 0 5px 0;
padding: 5px;
}
.intro4 {
	float: left;
	width: 50%;
	margin: 3px 0 5px 20px;
	padding: 5px;
	}

		/* LEFT SIDEBAR */
#sidebar-a {
float: left;
width: 150px;
margin-right: 5px;
padding: 0 5px 0 5px;
color: #FFFFFA;
background-color: #4D4D4D;
}

		/* RIGHT SIDEBAR */
#sidebar-b {
float: right;
width: 150px;
margin: 0 0 0 5px;
padding: 0 5px 15px 5px;
color: #FFFFFA;
background-color:#4D4D4D;
}

		/* FOOTER */
#footer {
background-color: #476042;
width:100%;
}
#footer p {
	margin: 0px auto;
	padding:50px;
	width: 80%;
}
#footer p a {
text-decoration: none;
color: #fff;
background-color:#476042;
}
#footer p  a:hover {
text-decoration: none;
color: #E5446D;
background-color:#476042;
}

		/* LINKS */
a {
text-decoration: none;
color: lightgray;
}
a:hover {
text-decoration:underline;
color: gray;
}
a img {
border: 0;
}

		/* IMAGE PROPERTIES */
.border {
padding: 10px;
margin: 10px;
border: 1px solid #476042;
}
.imgleft {
float: left;
border: 1px solid #90b905;
margin: 5px 10px 10px 15px;
padding: 5px;
}

		/* HEADING PROPERTIES */
h1 {
// width: 30%;
font-size: 200%;
color:#6A9662;
}
h2 {
text-transform: small-caps;
color:#6A9662;
background: #4D4D4D;
}
h3 {
padding: 5px;
text-transform: small-caps;
font-size: 110%;
color:#fff;
background: #6A9662;
}
h4 {
padding: 5px;
text-transform: uppercase;
font-size: 110%;
color:#fff;
background: #E5446D;
}
h5 {
	padding: 0px;
	text-transform: uppercase;
	font-size: 110%;
	color:#fff;
}

span.game-term {
	color: #90b905;
	text-transform: uppercase;
}

/* Fix Phone Sizing */

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	.content {
		width: 100%;
	}
	.contentb {
		width: 100%
	}
	.sidebar-a {
		width: 100%;
	}
	.sidebar-b {
		width: 100%
	}
	.intro {
		width: 100%;
	}
	.intro2 {
		width: 100%
	}
	.intro3 {
		width: 100%
	}
	.intro4 {
		width: 100%
	}
	body {
		width: 100%
	}
  } 
