@import 'colors'

// TOP NAVIGATION 
#navlist 
    display: block
    height: 2em
    margin: 0 0 20px 0
    text-align: left
    position: relative
    background: $mid-green
    
    li 
        margin: 0
        display: inline-flex
        list-style-type: square
        line-height: 2em
    
        a 
            // padding: 5px 1em
            padding: 0 1em
            color: $ash-grey
            background: $mid-green
            font-weight: bold
            letter-spacing: 3px
    
        a:hover 
            color: $charcoal
            background: $light-green
            text-decoration: none
    li:hover ul.dropdown
        display: block

ul.dropdown
    z-index: 2
    display: none
    position: absolute
    top: 2em
    left: 1em
    background: $light-green
    border: 2px solid $light-green
    padding: 0

    li a
        display: block
        color: $charcoal!important
        background: $light-green!important

    li a:hover
        background: $ash-grey!important