---
---
{% for character-class in site.data.world.characters._index %}
    {% assign character_group = site.data.world.characters[character-class] | sort: "name" %}

    <h1>{{character-class}}</h1>
    
    {% for npc in character_group %}
        <a name="{{npc.id}}"></a>
        <h2>{{npc.name}}</h2>
        {% if npc.has-page== true %}
            <p>
            <i>See</i> <a href="/wiki/{{npc.id}}">{{npc.name}}</a>
            </p>
        {% endif %}
        <p>{{npc.excerpt}}</p>

    {% endfor %}

{% endfor %}