---
title: Player Characters
layout: landing
---

<h1>Player Characters</h1>

<ul class="wiki_list">
    {% for char in site.player_characters %}
    <li width="60%">
        <a href="{{char.url}}">
            <img src="{{ site.baseurl}}/{{char.img_root| append: char.picture}}">
        </a>
        {% if char.alias and char.prefers-alias==true %}
            <h3>{{char.alias}}</h3>
            {{char.full-name}}<br>
        {% elsif char.alias %}
            <h3>{{char.full-name}}</h3>
            "{{char.alias | split: ","| join: '"; "'}}"<br>
        {% else %}
            <h3>{{char.full-name}}</h3>
        {% endif %}
        <i>{{char.playbook}}</i>
        <hr>
        <p style="margin-bottom: 0">{{char.desc | default: char.excerpt}}</p>
        <p style="text-align:right;width:100%;margin-top:0"><a href="{{char.url}}">Read More »</a></p>
    </li>
    {% endfor %}
</ul>