---
title: Player Characters
layout: landing
---

<h1>Player Characters</h1>

<ul class="pic_list">
    {% for char in site.player_characters %}
    <li>
        <a href="{{char.url}}">
            <img src="{{ site.baseurl}}/{{char.img_root| append: char.picture}}">
        </a>
        {% if char.alias and char.prefers-alias==true %}
            <b>{{char.alias}}</b><br>
            {{char.full-name}}<br>
        {% elsif char.alias %}
            <b>{{char.full-name}}</b><br>
            "{{char.alias}}"<br>
        {% else %}
            <b>{{char.full-name}}</b><br>
        {% endif %}
        {{char.playbook}}
        <hr>
        {{char.desc}}
    </li>
    {% endfor %}
</ul>