<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% if page.layout == "wiki" %}
                {% if page.full-name %}
                    {% assign title = page.full-name %}
                {% elsif page.w-id %}
                    {% assign title = page.w-id%}
                {% endif %}
            {{ title | replace: "_", " " | append: " | Wiki | " | append: site.title }}
            {% elsif page.title == "home" %}
                {{site.title}}
            {% else %}
                {{ page.title }} | {{ site.title }}
            {% endif %}
        </title>
        <link rel="stylesheet" href="/assets/css/{{page.layout}}.css">
        <link rel="stylesheet" href="/assets/css/{{page.stylesheet}}.css">
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Barlow">
        
        
    </head>
    <body>
         
        <div id="container">
            {% include banner.html %} 

            <div id="content">
                {{ content }}
            </div>
        
            {% include footer.html %}    
        </div>
    </body>
</html>