<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% if page.layout == "wiki" %}
                {% if page.full-name %}
                    {% assign title = page.full-name %}
                {% elsif page.w-id %}
                    {% assign title = page.w-id%}
                {% endif %}
            {{ title | replace: "_", " " | append: " | Wiki | " | append: site.title }}
            {% elsif page.title == "home" %}
                {{site.title}}
            {% else %}
                {{ page.title }} | {{ site.title }}
            {% endif %}
        </title>
        <link rel="stylesheet" href="/assets/css/default.css">
        <link rel="stylesheet" href="/assets/css/{{page.layout}}.css">
        <link rel="stylesheet" href="/assets/css/{{page.stylesheet}}.css">
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Barlow">
        
        {% if page.stylesheet=="map"%}
       
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet"> 

            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>

            <!-- Make sure you put this AFTER Leaflet's CSS -->
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

            <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
            <script>
                var bbox = turf.bbox(features);
            </script>
            <style>
                /* #map { height:700px; width:800px; } */
                .leaflet-container {
                    background: #444;
                }
                .district-label {
                    font: 1.5em Playfair Display SC;
                    background:none;
                    color: #ddd;
                    text-shadow: 1px 1px 3px #444;
                    border: 0;
                    width: 100px;
                    box-shadow: none;
                }
            </style>
          {%endif%}
    </head>
    <body>
         
        <div id="container">
            {% include banner.html %} 

            <div id="content">
                {{ content }}
            </div>
        
            {% include footer.html %}    
        </div>
    </body>
</html>