---
layout: default
permalink: /wiki/locations/
title: Locations
---
<h1>Locations</h1>

<h2> Duskvol Districts</h2>


{% for district in site.data.world.locations.duskvol[0].districts %}

<div style="clear:both;"> </div>
<h3 id="{{district.w-id}}">{{district.name}}</h3>
{% if district.game-data %}
<div class="district">

    {% for stats in district.game-data.stats %}
        {% assign label = stats[0] | replace: "-"," " %}
        {% assign fill = stats[1] | append: "/4" %}
        {% include clock.html label=label fill=fill align="right"%}
    {% endfor %}

    {% if district.game-data.effects %}

{% for effect in district.game-data.effects %}
{{effect.effect | markdownify}}
{% endfor %}

{% endif %}
</div>
{% endif %}

{% if district.collection %}
    <p style="margin: auto 1em;font-style:italic;">See <a href="/wiki/{{district.w-id}}">{{district.name}}</a></p>
    <p style="margin-left: 1em">{{ site[district.collection] | where: "w-id", district.w-id | map: "excerpt" | first | remove: "<p>"| remove: "</p>"}}</p>
{% else %}
<p style="margin-left: 1em;">{{district.excerpt}}</p>

{% endif %}
{% endfor %}


<div style="clear:both;"></div>

<style>
.district p {
    float: left;
    font-size: 0.9em;
    padding: 0.5em 1em;
    margin: 0.5em;
    background: #4a6d65;
    text-align:left;
} 

.district {
    margin: 0 1em 1em 2em;
    float:right;
    width: 17em;
    background: #2F3E46;
    padding: 0.5em
}
.district div {
    margin-top: 0.2em;
    margin-bottom: 0;
    
}

.district td {
    text-transform: capitalize;
}

h3 {
    margin-bottom: 0;
}

</style>